.friends--view {
    background-color: #0C1324;
    position: absolute;
    top: 13%;
    height: 87vh;
    width: 96%;
    left: 5%;
    color: white;
    overflow: hidden;
}

.friends-header * {
    display: inline;
    margin: 5px;
    
}
.friends-header {
    display: flex;
    margin: 5%;

}

.display--friends {
    background-color: #3BC68F;
    padding: 1%;
    border-radius: 10px;
}
