.streamNow-main {
    background-color: #0C1324;
    position: absolute;
    top: 15%;
    height: fit-content;
    width: 96%;
    left: 5%;
    color: white;
    overflow: hidden;
}
.streamWindow {
    margin: 5%;
    margin-bottom: 0%;
    height: 40vh;
}

.Uploader {
    display: flex;
    align-items: flex-start;
}

.text {
     margin: 5%;
     width: 80%
}