@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    margin: 0 auto;
    background-color: #202A40;
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
}


nav ul {
    list-style: none;
    float: left;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav Link {
    color: #F5F5F5;
    text-decoration: none;
}

.Friends {
    color: #F5F5F5;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 150;
}

.Following {
    color: #F5F5F5;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 150;
}


.circular {
    border-radius: 100%;
    display: flex;
    flex: 0 0 50px;
    height: 50px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 50px;
    object-fit: cover;
 }

 .circular::before {
    display: block;
 }

 input {
    width: 103%;
 }
 
 .stream {
    justify-content:flex-end;
    background-color: #0C1324;
    color: white;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    margin-left: 250px;
    width: 70px;
 }
 
 .stream:hover {
    background-color:#3BC68F;
 }
 

/* nav .nav-link {
    display: inline-block;
    text-decoration: none;
    all: initial;
    align-items: flex-end;
    justify-content: flex-end;
} */

/* input {
    width: 35%;
    height: 90%;
    justify-content:flex-start;
    border-radius: 10%;
} */
