/* .sidebar--whole {
    height: 100vh;
    background-color: #202A40;
    width: 5%;
    height: 92%; 
    top: 11.5%;
    position: fixed;
} */

.sidebar--whole {
    height: 100%;
    width: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #202A40;
    padding-top: 60px;
}



.circular--img img {
        width: 40%; /* takes the 100 % width of its container (.box div)*/
        height: 40%; /* takes the 100 % height of its container (.box div)*/
}


.circular--img {
    border-radius: 100%;
    display: flex;
    flex: 0 0 50px;
    height: 55px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 55px;
    object-fit: cover;
    padding: 5px;
    margin-left: 5px;
 }
 .circular--img::before {
    display: block;
 }

 mysideNav i {
    height: 55px;
    width: 55px;
 }

.mysideNav {
    display: flex;
    justify-content: center;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: red;
    display: block;
}


